/*
 * BASE
 *
 * Base reset. Builds off of Normalize.
 */

body {
  background: $whitesmoke;
  font-family: $base-font;
  color: $text-color;
}

h1,
h2,
h3 {
  font-family: $support-font;
  font-weight: normal;
}
