{% extends "base.html" %}

{% block head_title %}Take the Stage{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}

<div class="hero">
  <div class="inner-container">
    <h1 class="headline">Take the Stage!</h1>
    <h2 class="sub-headline"><strong class="ltl-brand">Lightning Talks Live</strong> allows enthusiastic minds to share their idea 5 minutes at a time.</h2>

    <p class="cta-block">
      <a href="{% url "socialauth_begin" "twitter" %}" class="btn schedule-cta">Schedule a Talk</a>
    </p>
  </div>
</div>

<div class="upcoming">
  <div class="inner-container">
    <h2 class="headline">Upcoming Lightning Talks</h2>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/ltl.js"></script>
{% endblock %}
