{% extends "base.html" %}

{% block head_title %}Take the Stage{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}

<div class="hero">
  <div class="inner-container">
    <h1 class="headline">Take the Stage!</h1>
    <h2 class="sub-headline"><strong class="ltl-brand">Lightning Talks Live</strong> allows enthusiastic minds to share their idea 5 minutes at a time.</h2>

    <p class="cta-block">
      <a href="{% url "socialauth_begin" "twitter" %}" class="btn schedule-cta">Schedule a Talk</a>
    </p>
  </div>
</div>

<div class="upcoming">
  <div class="inner-container">
    <h2 class="headline">Upcoming Lightning Talks</h2>

    <div class="talk-list">
      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>

      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>

      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>

      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>

      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>

      <section class="talk">
        <header class="talk-header">
          <a href="#" class="talk-cta">
            <img src="http://fillmurray.com/340/220" alt="Talk Alt" class="talk-preview" />
            <h3 class="talk-title">Ghostbusters 3 the Film</h3>
          </a>
          <p class="by-line">
            By <a href="#" class="talk-presenter">Bill Murray</a>
          </p>
        </header>
        <div class="talk-description">
          <p class="talk-abstract">
            The plans you refer to will soon be back in our hands. Dantooine. They're on Dantooine. The Force is strong with this one. I have you now. He is here. In my experience, there is no such thing as luck.
          </p>
          <ul class="talk-tags">
            <li><a href="#" class="talk-tag">SCSS</a></li>
            <li><a href="#" class="talk-tag">JavaScript</a></li>
            <li><a href="#" class="talk-tag">Design</a></li>
          </ul>
        </div>
      </section>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{ STATIC_URL }}js/ltl.js"></script>
{% endblock %}
