$base-font: 'Varela Round', sans-serif;
$support-font: 'Source Sans Pro', sans-serif;

$dark-gray: #555;
$gray: #797979;
$light-gray: #ccc;
$whitesmoke: #fdfdfd;
$white: #fff;

$text-color: $gray;
$brand-color: salmon;
$brand-color-alt: red;
