$base-font: 'Varela Round', sans-serif;
$support-font: 'Source Sans Pro', sans-serif;

// Generic Grays/Whites/Darks
$dark-gray: #555;
$gray: #797979;
$light-gray: #ccc;
$whitesmoke: #fdfdfd;
$white: #fff;

// Primary palette colors
// TODO: These names are poor
$dim-gray: #665E55;
$silver: #A4CEB9;
$gainsboro: #d9eeda;
$light-yellow: #fdfce5;
$bisque: #f2e9c6;

// Application of palette
$text-color: $gray;
$brand-color: $dim-gray;
$brand-color-alt: lighten($dim-gray, 10%);
