{% extends "base.html" %}
{% load scheduling %}

{% block head_title %}Take the Stage{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
{% get_upcoming_talks as talks %}
{% if talks %}
<h2>Upcoming Presentations</h2>
<div>
   {% for talk in talks %}
        {{ talk }}
    {% endfor %}
</div>
{% endif %}


{% get_available_time_slots as open_slots %}
<h2>Give a Talk</h2>
<ul>
{% for slot in open_slots %}
    <li><a href="{% url "create_talk" %}?when={{slot}}">{{ slot }}</a></li>
{% endfor %}
</ul>
{% endblock %}
